NODE_ENV=production
PORT=3000

BOT_TOKEN=123:ABC

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tirebot

GOOGLE_SHEET_ID="your_sheet_id"
GOOGLE_SERVICE_ACCOUNT_EMAIL="svc@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

MAIL_PORT=587
MAIL_HOST='smtp.gmail.com'
MAIL_USER=exaple@gmail.com
MAIL_PASSWORD='your_app_password'
MAIL_DEFAULT_EMAIL=exaple@gmail.com
MAIL_DEFAULT_NAME=Example
MAIL_IGNORE_TLS=false
MAIL_SECURE=false
MAIL_REQUIRE_TLS=true