NODE_ENV=production
PORT=3000

BOT_TOKEN=123:ABC

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tirebot

GOOGLE_SHEET_ID="your_sheet_id"
GOOGLE_SERVICE_ACCOUNT_EMAIL="svc@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"